.position_top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.position_top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
